.respoMenuStyle {
  position: fixed;
  top: 92px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fffcf3;
  z-index: 3;
  transition: all 300ms;
  animation: respoOpenAnimation 500ms forwards;
}

.menuStyle {
  height: max-content;
  cursor: pointer;

  .respoMenuFont {
    font-family: "Syne";
    font-size: 93px;
    font-weight: 700;
    font-style: normal;
  }
  div {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 7%;
    height: 50%;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
  }
  &:hover {
    div {
      animation-name: hover;
      animation-duration: 0.5s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes hover {
  0% {
    width: 7%;
    height: 50%;
  }
  25% {
    height: 0;
  }
  50% {
  }
  75% {
    left: 60%;
  }
  100% {
    height: 0;
    left: 60%;
    width: 40%;
  }
}

@keyframes respoOpenAnimation {
  from {
    top: 1000px;
  }
  to {
    top: 92px;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-top: 200px solid #fffcf3;
  border-bottom: 0 solid transparent;
  border-left: 150vw solid transparent;
  margin-top: -1.5px;
}

.headline {
  position: absolute;
  top: 30px;
  font-family: "Syne";
  font-size: 6vw;
  font-weight: 900;
  color: white;
  z-index: 1;
}

.responsiveFooter{
  height: 300px;
}

@media (max-width: 1250px) {
  .menuStyle {
    .respoMenuFont {
      font-size: 73px;
    }
  }
  .headline{
    top: 70px;
  }
}

@media (max-width: 1005px) {
  .menuStyle {
    padding: 0 24px !important;
    .respoMenuFont {
      font-size: 53px;
    }
  }
}

@media (max-width: 790px) {
  .menuStyle {
    padding: 0 12px !important;

    .respoMenuFont {
      font-size: 33px;
    }
  }
}

@media(max-height:1000px){
  .headline{
    display: none;
  }
}


@media(max-height:822px){
  .menuStyle{
    height: 100px;
  }
}

@media(max-height:740px){
  .triangle{
    display: none;
  }
  .responsiveFooter{
    height: 170px;
  }
}

@media (max-height: 650px) {
  .menuStyle {
    margin-top: 0 !important;
    margin-bottom: o !important;
  }
}
