<div *ngIf="respoMenu()" class="d-flex justify-content-center respoMenuStyle">
  <div class="d-flex justify-content-center w-50 h-50">
    <div class="d-flex flex-column justify-content-around align-items-center">
      <div
        (click)="scrollTo('aboutMe')"
        class="position-relative d-flex align-items-center justify-content-center menuStyle w-100 ps-5 pe-5 m-3"
      >
        <span class="respoMenuFont">About me</span>
        <div></div>
      </div>
      <div
        (click)="scrollTo('mySkills')"
        class="position-relative d-flex align-items-center justify-content-center menuStyle w-100 m-3"
      >
        <span class="respoMenuFont">My skills</span>
        <div></div>
      </div>
      <div
        (click)="scrollTo('portfolio')"
        class="position-relative d-flex align-items-center justify-content-center menuStyle w-100 m-3"
      >
        <span class="respoMenuFont">Projects</span>
        <div></div>
      </div>
    </div>
  </div>
  <div class="position-absolute bottom-0 w-100 responsiveFooter">
    <div class="position-absolute bottom-0 bg-black h-100 w-100">
      <!--
        TODO: TouchScreenDetection einfügen
      -->
      <span class="app_fontHover margin100 headline">Say Hi!</span>
      <div class="position-absolute bottom-0 mb-3 w-100">
        <app-footer-legal-notice></app-footer-legal-notice>
      </div>
    </div>
    <div class="position-absolute triangle"></div>
  </div>
</div>
