<div class="d-flex flex-column mt-5 mb-5">
  <!--
    TODO: TouchScreenDetection einfügen
  -->
  <span
    class="position-relative ps-3 pe-3 app_fontHover fontHeadline"
    >My skills</span
  >
  <div
    class="d-flex justify-content-center flex-wrap skillBox"
  >
    <div class="itemContainer skillHover">
      <div><img draggable="false" class="itemStyle" src="./assets/img/skill/ng.png" /></div>
      <span class="font">Angular</span>
    </div>
    <div class="itemContainer skillHover">
      <div><img draggable="false" class="itemStyle" src="./assets/img/skill/ts.png" /></div>
      <span class="font">Typescript</span>
    </div>
    <div class="itemContainer skillHover">
      <div><img draggable="false" class="itemStyle" src="./assets/img/skill/js.png" /></div>
      <span class="font">Javascript</span>
    </div>
    <div class="itemContainer skillHover">
      <div><img draggable="false" class="itemStyle" src="./assets/img/skill/html.png" /></div>
      <span class="font">HTML</span>
    </div>
    <div class="itemContainer skillHover">
      <div><img draggable="false" class="itemStyle" src="./assets/img/skill/css.png" /></div>
      <span class="font">CSS</span>
    </div>
    <div class="itemContainer skillHover">
      <div><img draggable="false" class="itemStyle" src="./assets/img/skill/fire.png" /></div>
      <span class="font">Firebase</span>
    </div>
    <div class="itemContainer skillHover">
      <div><img draggable="false" class="itemStyle" src="./assets/img/skill/git.png" /></div>
      <span class="font">Git</span>
    </div>
    <div class="itemContainer skillHover">
      <div><img draggable="false" class="itemStyle" src="./assets/img/skill/scrum.png" /></div>
      <span class="font">Scrum</span>
    </div>
    <div class="itemContainer skillHover">
      <div><img draggable="false" class="itemStyle" src="./assets/img/skill/rest.png" /></div>
      <span class="font">Rest-Api</span>
    </div>
    <div class="itemContainer skillHover">
      <div>
        <img draggable="false" class="itemStyle" src="./assets/img/skill/bootstrap.png" />
      </div>
      <span class="font">Bootstrap</span>
    </div>
    <div class="itemContainer skillHover">
      <div><img draggable="false" class="itemStyle" src="./assets/img/skill/md.png" /></div>
      <span class="font text-center"
        >Material <br />
        design</span
      >
    </div>
  </div>
</div>
