.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: auto;
}

.fontHeadline {
  top: 50px;
  left: calc(50% - (541px / 2));
  width: fit-content;
  font-family: "Syne";
  font-size: 78px;
  font-weight: 900;
  background-color: #fffcf3;
}

.font {
  font-family: "Overpass";
  font-size: 16px;
  font-weight: 900;
  margin-top: 8px;
}

.itemStyle {
  width: 75px;
  height: 76px;
  filter: brightness(0);
}

.skillHover {
  overflow: hidden;
  &:hover {
    span {
      color: #ff9900;
    }
    img {
      animation: skillRotate 700ms linear;
    }
  }
}

@keyframes skillRotate {
  0% {
    transform: translate(0);
  }
  33% {
    filter: brightness(1);
    transform: translate(40px) scale(.8);
  }
  66% {
    filter: brightness(1);
    transform: translate(-80px) scale(.8);
  }
  100% {
    transform: translate(0);
  }
}

.skillBox {
  border: 3px solid black;
  gap: 128px;
  padding: 160px;
}

@media (max-width: 1000px) {
  .skillBox {
    padding: 100px;
  }
}
@media (max-width: 878px) {
  .skillBox {
    padding: 50px;
    gap: 50px;
  }
  .fontHeadline {
    top: 35px;
    left: calc(50% - (358px / 2));
    font-size: 50px;
  }
  .itemStyle {
    width: 55px;
    height: 56px;
    margin-top: 32px;
  }
}

@media (max-width: 620px) {
  .skillBox {
    padding: 50px 10px;
    gap: 50px;
  }
  .fontHeadline {
    top: 23px;
    left: calc(50% - (228px / 2));
    font-size: 30px;
  }
}
