<div
  (click)="hideLN()"
  class="position-fixed top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center w-100 h-100 bg-secondary text-white p-5 z-index-3"
>
  <span>
    <b>Impressum:</b> <br /><br />

    <b>Name:</b> Sebastian Haß <br />
    <b>Adresse:</b> Saumäckerstrasse 11, 85777 Fahrenzhausen <br />
    <b>E-Mail:</b> {{email}} <br />
    <b>Website:</b> https://sebastian-hass.de <br />
    <br />
    <b>Verantwortlich für den Inhalt:</b> <br />
    Sebastian Haß <br />
    Saumäckerstrasse 11 <br />
    85777 Fahrenzhausen <br />
    {{email}} <br />
    <br />
    <b>Haftungsausschluss:</b> <br />
    Die Inhalte dieser Website wurden sorgfältig geprüft und nach bestem Wissen
    erstellt. <br />
    Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann jedoch
    keine Gewähr übernommen werden. <br />
    Jegliche Haftung für Schäden, die direkt oder indirekt aus der Nutzung
    dieser Website entstehen, <br />
    wird ausgeschlossen, soweit diese nicht auf Vorsatz oder grober
    Fahrlässigkeit beruhen. <br />
    <br />
    <b>Urheberrecht:</b> <br />
    Alle Inhalte dieser Website, insbesondere Texte, Bilder, Grafiken und
    Layout, <br />
    sind urheberrechtlich geschützt. Die Verwendung, Vervielfältigung oder
    Verbreitung ohne ausdrückliche Zustimmung ist nicht gestattet. <br />
    <br />
    <b>Quelle:</b> Dieses Impressum wurde erstellt mit Hilfe von
    www.e-recht24.de.
    <br />
  </span>
</div>
