<div
  class="mt-5 mb-5"
  (mouseenter)="showDescription()"
  (mouseleave)="hideDescription()"
>
<!--
  TODO: TouchScreenDetection einfügen
-->
  <div class="position-relative d-flex justify-content-between w-100 mediaBox">
    <div class="w-50 imgContainer">
      <img draggable="false"
        [style]="{
          filter: slide ? 'grayscale(0)' : 'grayscale(1)',
          transform: slide ? 'scale(1.1)' : 'scale(1)',
          transition: slide ? 'transform 300ms' : ''
        }"
        src="./assets/img/project/rof.png"
      />
    </div>
    <div class="w-50 descriptionContainerBox">
      <span class="fontNumbers float-end text-end">02/05</span>
      <div class="descriptionContainer float-end text-end">
        <span [style.opacity]="slide ? '1' : '0.2'" class="fontHeadline mt-3"
          >Ring of Fire</span
        >
        <span [style.opacity]="slide ? '1' : '0.2'" class="fontLanguage"
          >Angular | Typescript | SCSS | Firebase</span
        >
        <span [style.opacity]="slide ? '1' : '0.2'" class="fontDescription"
          >Ring Of Fire is an interactive drinking game app built using Angular,
          Firebase, and Material Design. It provides a fun way to play with
          friends and family while enjoying a few drinks at the same time.
        </span>
      </div>
    </div>
    <div [style.opacity]="slide ? '1' : '0'" class="imgBorderRight"></div>
    <img draggable="false"
      [style.opacity]="slide ? '1' : '0'"
      [class.arrowRotateRight]="slide"
      class="position-absolute arrow"
      src="./assets/img/arrow.png"
    />

    <div
      [class.showDescriptionRight]="slide"
      class="position-absolute bottom-0 d-flex mb-2 gap-5 buttonSlideRight"
    >
      <div class="buttonContainer">
        <a
          class="buttonHover"
          href="https://github.com/HassSebastian/Ring-Of-Fire"
          target="_blank"
          >GitHub</a
        >
      </div>
      <div class="buttonContainer">
        <a
          class="buttonHover"
          href="https://ringoffire.sebastian-hass.de/index.html"
          target="_blank"
        >
          Live
        </a>
      </div>
    </div>
  </div>
</div>
