.fontHeadline {
  font-family: "Syne";
  font-size: 5vw;
  font-weight: 900;
}

.fontDescription {
  text-align: center;
  font-family: "Overpass";
  font-size: 1.5vw;
  font-weight: 500;
}


@media(max-width:840px){
  .fontHeadline{
    font-size: 35px;
  }
  .fontDescription{
    font-size: 17px;
  }
}