<div
  class="mt-5 mb-5"
  (mouseenter)="showDescription()"
  (mouseleave)="hideDescription()"
>
<!--
  TODO: TouchScreenDetection einfügen
-->
  <div class="position-relative d-flex justify-content-between w-100 mediaBox">
    <div class="w-50 order3 descriptionContainerBox">
      <span class="fontNumbers">03/05</span>
      <div class="descriptionContainer">
        <span [style.opacity]="slide ? '1' : '0.2'" class="fontHeadline mt-3"
          >El Pollo Loco</span
        >
        <span [style.opacity]="slide ? '1' : '0.2'" class="fontLanguage"
          >JavaScript | Canvas | CSS</span
        >
        <span [style.opacity]="slide ? '1' : '0.2'" class="fontDescription"
          >A simple Jump-and-Run game based on an object-oriented approach. Help
          El-Pollo-Loco to find coins and poison bottles to fight agins the
          killer endboss.</span
        >
      </div>
    </div>
    <div class="w-50 imgContainer order2">
      <img draggable="false"
        [style]="{
          filter: slide ? 'grayscale(0)' : 'grayscale(1)',
          transform: slide ? 'scale(1.1)' : 'scale(1)',
          transition: 'transform 300ms'
        }"
        src="./assets/img/project/elpollo.png"
      />
    </div>
    <div [style.opacity]="slide ? '1' : '0'" class="imgBorderLeft"></div>
    <img draggable="false"
      [style.opacity]="slide ? '1' : '0'"
      [class.arrowRotateLeft]="slide"
      class="position-absolute arrow"
      src="./assets/img/arrow.png"
    />

    <div
      [class.showDescriptionLeft]="slide"
      class="position-absolute bottom-0 d-flex mb-2 gap-5 buttonSlideLeft"
    >
      <div class="buttonContainer">
        <a
          class="buttonHover"
          href="https://github.com/HassSebastian/el-Pollo"
          target="_blank"
          >GitHub</a
        >
      </div>
      <div class="buttonContainer">
        <a
          class="buttonHover"
          href="https://elpollo.sebastian-hass.de/index.html"
          target="_blank"
          >Live</a
        >
      </div>
    </div>
  </div>
</div>
