.emailField {
  position: absolute;
  left: -105px;
  rotate: 270deg;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  font-size: 23px;
  font-family: "Overpass";
  font-weight: 400;
  transition: 200ms ease;
  &:hover {
    transition: 200ms ease;
    transform: scale(1.2);
  }
}

.fontHeadline {
  span {
    font-size: 8vw;
    font-weight: 800;
    font-family: "Syne";
  }
}

.headlineUnderline {
  width: 50%;
  height: 3px;
}

.fontName {
  font-size: 3vw;
  font-family: "Overpass";
  font-weight: 800;
  color: #ff9900;
}

@media (max-width: 840px) {
  .emailField {
    left: calc(50% - (296px / 2));
    top: 108%;
    rotate: 0deg;
    text-decoration: underline;
  }
}
